/*REGLA SELECTOR*/
h2 {
    color: brown !important;
}

/*REGLA ID*/
#mih2 {
    color: red;
}

/*REGLA CLASE*/
.mih2clase {
    color: green;
}

/*ESPECIFICIDAD
0-inline
1-ID
2-clase
3-selector
!important
*/

.cajaexterna {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: 2px solid red;
    padding: 25px;
    background-color: aqua;
    box-sizing: content-box;
}

.cajainterna {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: 2px solid black;
    padding: 25px;
    background-color: yellow;
    box-sizing: content-box;
}

.cajaexterna .cajainterna p {
    font-weight: bolder;
    font-size: 30px;
    color: blueviolet;
}

.contenedor {
    margin: 15px;
    background-color: coral;
}

.contenedor div {
    border-radius: 50% 10%;
}

.caja {
    background-color: chartreuse;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
}