table thead tr:first-child {
    font-size: 25px;
}

table tbody tr:last-child {
    text-transform: lowercase;
}

table tbody tr:first-child {
    text-transform: lowercase;
}

table tbody tr:nth-child(even) {
    text-transform: lowercase;
    background-color: yellow;
    font-size: 20px;
}

table tbody tr:nth-child(odd) {
    text-transform: uppercase;
    background-color: limegreen;
    font-size: 15px;
}

.link {
    height: 50px;
    padding-left: 10px;
    padding-top: 10 px;
    background-color: wheat;
}

.link p::first-letter {
    font-size: 50px;
}